@reference "../../../index.css";

.footer {
  @apply bg-gray-900 text-white mt-20;
}

.footer__container {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12;
}

.footer__grid {
  @apply grid grid-cols-1 md:grid-cols-4 gap-8;
}

.footer__section {
  @apply flex flex-col;
}

.footer__section-title {
  @apply text-xl mb-4;
}

.footer__section-subtitle {
  @apply mb-4;
}

.footer__description {
  @apply text-gray-400;
}

.footer__list {
  @apply space-y-2 text-gray-400;
}

.footer__link {
  @apply hover:text-white transition;
}

.footer__divider {
  @apply border-t border-gray-800 mt-8 pt-8 text-center text-gray-400;
}
