@reference "../../../index.css";

.drawer {
  @apply relative;
}

.drawer__overlay {
  @apply fixed inset-0 z-50 bg-black/50;
}

.drawer__content {
  @apply fixed z-50 flex h-auto flex-col bg-white;
}

.drawer__content[data-vaul-drawer-direction="top"] {
  @apply inset-x-0 top-0 mb-24 max-h-[80vh] rounded-b-lg border-b;
}

.drawer__content[data-vaul-drawer-direction="bottom"] {
  @apply inset-x-0 bottom-0 mt-24 max-h-[80vh] rounded-t-lg border-t;
}

.drawer__content[data-vaul-drawer-direction="right"] {
  @apply inset-y-0 right-0 w-3/4 border-l sm:max-w-sm;
}

.drawer__content[data-vaul-drawer-direction="left"] {
  @apply inset-y-0 left-0 w-3/4 border-r sm:max-w-sm;
}

.drawer__handle {
  @apply mx-auto mt-4 hidden h-2 w-25 shrink-0 rounded-full bg-gray-300;
}

.drawer__content[data-vaul-drawer-direction="bottom"] .drawer__handle {
  @apply block;
}

.drawer__header {
  @apply flex flex-col gap-1.5 p-4;
}

.drawer__content[data-vaul-drawer-direction="right"] .drawer__header,
.drawer__content[data-vaul-drawer-direction="left"] .drawer__header {
  @apply flex-row items-center justify-between border-b border-gray-200 p-4 sm:p-6;
}

.drawer__footer {
  @apply mt-auto flex flex-col gap-2 p-4;
}

.drawer__content[data-vaul-drawer-direction="right"] .drawer__footer,
.drawer__content[data-vaul-drawer-direction="left"] .drawer__footer {
  @apply border-t border-gray-200 p-4 sm:p-6;
}

.drawer__title {
  @apply font-semibold text-gray-900 text-xl flex items-center gap-2;
}

.drawer__description {
  @apply text-sm text-gray-500;
}
