@reference "../../../index.css";

.select {
  @apply relative;
}

.select__trigger {
  @apply border-input data-placeholder:text-muted-foreground [&_svg:not([class*='text-'])]:text-muted-foreground focus-visible:ring-ring aria-invalid:ring-destructive dark:aria-invalid:ring-destructive dark:bg-input/30 dark:hover:bg-input/50 flex w-full items-center justify-between gap-2 rounded-md border bg-input-background px-3 py-2 text-sm whitespace-nowrap transition-[color,box-shadow] outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50 *:data-[slot=select-value]:line-clamp-1 *:data-[slot=select-value]:flex *:data-[slot=select-value]:items-center *:data-[slot=select-value]:gap-2 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4;
}

.select__trigger--default {
  @apply h-9;
}

.select__trigger--sm {
  @apply h-8;
}

.select__content {
  @apply bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 relative z-50 max-h-(--radix-select-content-available-height) min-w-32 origin-(--radix-select-content-transform-origin) overflow-x-hidden overflow-y-auto rounded-md border shadow-md;
}

.select__content--popper {
  @apply data-[side=bottom]:translate-y-1 data-[side=left]:-translate-x-1 data-[side=right]:translate-x-1 data-[side=top]:-translate-y-1;
}

.select__viewport {
  @apply p-1;
}

.select__viewport--popper {
  @apply h-(--radix-select-trigger-height) w-full min-w-(--radix-select-trigger-width) scroll-my-1;
}

.select__label {
  @apply text-muted-foreground px-2 py-1.5 text-xs;
}

.select__item {
  @apply focus:bg-accent focus:text-accent-foreground [&_svg:not([class*='text-'])]:text-muted-foreground relative flex w-full cursor-default items-center gap-2 rounded-sm py-1.5 pr-8 pl-2 text-sm outline-hidden select-none data-disabled:pointer-events-none data-disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:shrink-0 [&_svg:not([class*='size-'])]:size-4 *:[span]:last:flex *:[span]:last:items-center *:[span]:last:gap-2;
}

.select__item-indicator {
  @apply absolute right-2 flex size-3.5 items-center justify-center;
}

.select__separator {
  @apply bg-border pointer-events-none -mx-1 my-1 h-px;
}

.select__scroll-button {
  @apply flex cursor-default items-center justify-center py-1;
}

.select__icon {
  @apply size-4 opacity-50;
}
