@reference "../../../index.css";

.alert {
  @apply relative w-full rounded-lg border px-4 py-3 text-sm;
  @apply grid grid-cols-[0_1fr] gap-y-0.5 items-start;
  @apply has-[>svg]:grid-cols-[calc(var(--spacing)*4)_1fr] has-[>svg]:gap-x-3;
  @apply [&>svg]:size-4 [&>svg]:translate-y-0.5 [&>svg]:text-current;
}

.alert--default {
  @apply bg-card text-card-foreground;
}

.alert--destructive {
  @apply text-destructive bg-card [&>svg]:text-current;
  @apply *:data-[slot=alert-description]:text-destructive/90;
}

.alert__title {
  @apply col-start-2 line-clamp-1 min-h-4 font-medium tracking-tight;
}

.alert__description {
  @apply text-muted-foreground col-start-2 grid justify-items-start gap-1 text-sm;
  @apply [&_p]:leading-relaxed;
}
