@reference "../../../index.css";

.command {
  @apply bg-popover text-popover-foreground flex h-full w-full flex-col overflow-hidden rounded-md;
}

.command__input-wrapper {
  @apply flex h-9 items-center gap-2 border-b px-3;
}

.command__input-icon {
  @apply size-4 shrink-0 opacity-50;
}

.command__input {
  @apply placeholder:text-muted-foreground flex h-10 w-full rounded-md bg-transparent py-3 text-sm outline-hidden disabled:cursor-not-allowed disabled:opacity-50;
}

.command__list {
  @apply max-h-75 scroll-py-1 overflow-x-hidden overflow-y-auto;
}

.command__empty {
  @apply py-6 text-center text-sm;
}

.command__group {
  @apply text-foreground overflow-hidden p-1;
}

.command__group-heading {
  @apply text-muted-foreground px-2 py-1.5 text-xs font-medium;
}

.command__separator {
  @apply bg-border -mx-1 h-px;
}

.command__item {
  @apply data-[selected=true]:bg-accent data-[selected=true]:text-accent-foreground relative flex cursor-default items-center gap-2 rounded-sm px-2 py-1.5 text-sm outline-hidden select-none data-[disabled=true]:pointer-events-none data-[disabled=true]:opacity-50;
}

.command__item svg:not([class*="text-"]) {
  @apply text-muted-foreground pointer-events-none shrink-0;
}

.command__item svg:not([class*="size-"]) {
  @apply size-4;
}

.command__shortcut {
  @apply text-muted-foreground ml-auto text-xs tracking-widest;
}
