@reference "../../../index.css";

.table-container {
  @apply relative w-full overflow-x-auto;
}

.table {
  @apply w-full caption-bottom text-sm;
}

.table__header {
  @apply [&_tr]:border-b;
}

.table__body {
  @apply [&_tr:last-child]:border-0;
}

.table__footer {
  @apply bg-muted/50 border-t font-medium;
  @apply [&>tr]:last:border-b-0;
}

.table__row {
  @apply border-b transition-colors;
  @apply hover:bg-muted/50;
  @apply data-[state=selected]:bg-muted;
}

.table__head {
  @apply h-10 px-2 text-left align-middle font-medium whitespace-nowrap;
  @apply text-foreground;
  @apply [&:has([role=checkbox])]:pr-0;
  @apply *:[[role=checkbox]]:translate-y-0.5;
}

.table__cell {
  @apply p-2 align-middle whitespace-nowrap;
  @apply [&:has([role=checkbox])]:pr-0;
  @apply *:[[role=checkbox]]:translate-y-0.5;
}

.table__caption {
  @apply mt-4 text-sm;
  @apply text-muted-foreground;
}
