@reference "../../../index.css";

.navigation-menu {
  @apply relative flex max-w-max flex-1 items-center justify-center;
}

.navigation-menu__list {
  @apply group flex flex-1 list-none items-center justify-center gap-1;
}

.navigation-menu__item {
  @apply relative;
}

.navigation-menu__trigger {
  @apply group inline-flex h-9 w-max items-center justify-center rounded-md bg-background px-4 py-2 text-sm font-medium hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground disabled:pointer-events-none disabled:opacity-50 data-[state=open]:hover:bg-accent data-[state=open]:text-accent-foreground data-[state=open]:focus:bg-accent data-[state=open]:bg-accent/50 focus-visible:ring-ring outline-none transition-[color,box-shadow] focus-visible:ring-[3px] focus-visible:outline-1;
}

.navigation-menu__content {
  @apply data-[motion^=from-]:animate-in data-[motion^=to-]:animate-out data-[motion^=from-]:fade-in data-[motion^=to-]:fade-out data-[motion=from-end]:slide-in-from-right-52 data-[motion=from-start]:slide-in-from-left-52 data-[motion=to-end]:slide-out-to-right-52 data-[motion=to-start]:slide-out-to-left-52 top-0 left-0 w-full p-2 pr-2.5 md:absolute md:w-auto;
}

.navigation-menu__content--no-viewport {
  @apply bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[state=open]:fade-in-0 data-[state=closed]:fade-out-0 top-full mt-1.5 overflow-hidden rounded-md border shadow duration-200;
}

.navigation-menu__viewport-wrapper {
  @apply absolute top-full left-0 isolate z-50 flex justify-center;
}

.navigation-menu__viewport {
  @apply origin-top-center bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-90 relative mt-1.5 h-(--radix-navigation-menu-viewport-height) w-full overflow-hidden rounded-md border shadow md:w-(--radix-navigation-menu-viewport-width);
}

.navigation-menu__link {
  @apply data-[active=true]:focus:bg-accent data-[active=true]:hover:bg-accent data-[active=true]:bg-accent/50 data-[active=true]:text-accent-foreground hover:bg-accent hover:text-accent-foreground focus:bg-accent focus:text-accent-foreground focus-visible:ring-ring [&_svg:not([class*='text-'])]:text-muted-foreground flex flex-col gap-1 rounded-sm p-2 text-sm transition-all outline-none focus-visible:ring-[3px] focus-visible:outline-1 [&_svg:not([class*='size-'])]:size-4;
}

.navigation-menu__indicator {
  @apply data-[state=visible]:animate-in data-[state=hidden]:animate-out data-[state=hidden]:fade-out data-[state=visible]:fade-in top-full z-1 flex h-1.5 items-end justify-center overflow-hidden;
}

.navigation-menu__indicator-arrow {
  @apply bg-border relative top-[60%] h-2 w-2 rotate-45 rounded-tl-sm shadow-md;
}

.navigation-menu__trigger-icon {
  @apply relative top-px ml-1 size-3 transition duration-300 group-data-[state=open]:rotate-180;
}
