@reference "../../../index.css";

.tooltip__content {
  @apply z-50 w-fit rounded-md px-3 py-1.5 text-xs text-balance;
  @apply bg-primary text-primary-foreground;
  @apply origin-(--radix-tooltip-content-transform-origin);
  @apply animate-in fade-in-0 zoom-in-95;
  @apply data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=closed]:zoom-out-95;
  @apply data-[side=bottom]:slide-in-from-top-2;
  @apply data-[side=left]:slide-in-from-right-2;
  @apply data-[side=right]:slide-in-from-left-2;
  @apply data-[side=top]:slide-in-from-bottom-2;
}

.tooltip__arrow {
  @apply z-50 size-2.5;
  @apply bg-primary fill-primary;
  @apply translate-y-[calc(-50%-2px)] rotate-45 rounded-[2px];
}
