@reference "../../../index.css";

.progress {
  @apply bg-primary/20 relative h-2 w-full overflow-hidden rounded-full;
}

.progress__indicator {
  @apply bg-primary h-full w-full flex-1 transition-all;
}
