@reference "../../../index.css";

.dropdown-menu {
  @apply relative;
}

.dropdown-menu__content {
  @apply bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 z-50 max-h-(--radix-dropdown-menu-content-available-height) min-w-32 origin-(--radix-dropdown-menu-content-transform-origin) overflow-x-hidden overflow-y-auto rounded-md border p-1 shadow-md;
}

.dropdown-menu__sub-content {
  @apply bg-popover text-popover-foreground data-[state=open]:animate-in data-[state=closed]:animate-out data-[state=closed]:fade-out-0 data-[state=open]:fade-in-0 data-[state=closed]:zoom-out-95 data-[state=open]:zoom-in-95 data-[side=bottom]:slide-in-from-top-2 data-[side=left]:slide-in-from-right-2 data-[side=right]:slide-in-from-left-2 data-[side=top]:slide-in-from-bottom-2 z-50 min-w-32 origin-(--radix-dropdown-menu-content-transform-origin) overflow-hidden rounded-md border p-1 shadow-lg;
}

.dropdown-menu__item {
  @apply focus:bg-accent focus:text-accent-foreground relative flex cursor-default items-center gap-2 rounded-sm px-2 py-1.5 text-sm outline-hidden select-none data-disabled:pointer-events-none data-disabled:opacity-50;
}

.dropdown-menu__item[data-inset] {
  @apply pl-8;
}

.dropdown-menu__item svg {
  @apply pointer-events-none shrink-0;
}

.dropdown-menu__item svg:not([class*="size-"]) {
  @apply size-4;
}

.dropdown-menu__item svg:not([class*="text-"]) {
  @apply text-muted-foreground;
}

.dropdown-menu__item[data-variant="destructive"] {
  @apply text-destructive focus:bg-destructive/10 dark:focus:bg-destructive/20 focus:text-destructive;
}

.dropdown-menu__item[data-variant="destructive"] svg {
  @apply text-destructive!;
}

.dropdown-menu__checkbox-item,
.dropdown-menu__radio-item {
  @apply focus:bg-accent focus:text-accent-foreground relative flex cursor-default items-center gap-2 rounded-sm py-1.5 pr-2 pl-8 text-sm outline-hidden select-none data-disabled:pointer-events-none data-disabled:opacity-50;
}

.dropdown-menu__checkbox-item svg,
.dropdown-menu__radio-item svg {
  @apply pointer-events-none shrink-0;
}

.dropdown-menu__checkbox-item svg:not([class*="size-"]),
.dropdown-menu__radio-item svg:not([class*="size-"]) {
  @apply size-4;
}

.dropdown-menu__item-indicator {
  @apply pointer-events-none absolute left-2 flex size-3.5 items-center justify-center;
}

.dropdown-menu__label {
  @apply px-2 py-1.5 text-sm font-medium;
}

.dropdown-menu__label[data-inset] {
  @apply pl-8;
}

.dropdown-menu__separator {
  @apply bg-border -mx-1 my-1 h-px;
}

.dropdown-menu__shortcut {
  @apply text-muted-foreground ml-auto text-xs tracking-widest;
}

.dropdown-menu__sub-trigger {
  @apply focus:bg-accent focus:text-accent-foreground data-[state=open]:bg-accent data-[state=open]:text-accent-foreground flex cursor-default items-center rounded-sm px-2 py-1.5 text-sm outline-hidden select-none;
}

.dropdown-menu__sub-trigger[data-inset] {
  @apply pl-8;
}
