@reference "../../../index.css";

.badge {
  @apply inline-flex items-center justify-center rounded-md border px-2 py-0.5;
  @apply text-xs font-medium w-fit whitespace-nowrap shrink-0;
  @apply [&>svg]:size-3 gap-1 [&>svg]:pointer-events-none;
  @apply focus-visible:ring-ring focus-visible:ring-[3px];
  @apply aria-invalid:ring-destructive;
  @apply dark:aria-invalid:ring-destructive;
  @apply transition-[color,box-shadow] overflow-hidden;
}

.badge--default {
  @apply border-transparent bg-primary text-primary-foreground;
  @apply [a&]:hover:bg-primary/90;
}

.badge--secondary {
  @apply border-transparent bg-secondary text-secondary-foreground;
  @apply [a&]:hover:bg-secondary/90;
}

.badge--destructive {
  @apply border-transparent bg-destructive text-white;
  @apply [a&]:hover:bg-destructive/90;
  @apply focus-visible:ring-destructive dark:focus-visible:ring-destructive;
  @apply dark:bg-destructive/60;
}

.badge--outline {
  @apply text-foreground;
  @apply [a&]:hover:bg-accent [a&]:hover:text-accent-foreground;
}
