@reference "../../../index.css";

.textarea {
  @apply resize-none;
  @apply flex field-sizing-content min-h-16 w-full rounded-md;
  @apply border border-input;
  @apply bg-input-background dark:bg-input/30;
  @apply px-3 py-2;
  @apply text-base md:text-sm;
  @apply placeholder:text-muted-foreground;
  @apply transition-[color,box-shadow] outline-none;
  @apply focus-visible:ring-ring;
  @apply focus-visible:ring-[3px];
  @apply disabled:cursor-not-allowed disabled:opacity-50;
  @apply aria-invalid:ring-destructive;
  @apply dark:aria-invalid:ring-destructive;
}
