@reference "../../../index.css";

.radio-group {
  @apply grid gap-3;
}

.radio-group__item {
  @apply border-input text-primary focus-visible:ring-ring aria-invalid:ring-destructive dark:aria-invalid:ring-destructive dark:bg-input/30 aspect-square size-4 shrink-0 rounded-full border shadow-xs transition-[color,box-shadow] outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50;
}

.radio-group__indicator {
  @apply relative flex items-center justify-center;
}

.radio-group__indicator-icon {
  @apply fill-primary absolute top-1/2 left-1/2 size-2 -translate-x-1/2 -translate-y-1/2;
}
